language: generic
sudo: required

services:
  - docker

before_install:
    - docker build -t sai/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true sai/docker-react npm run test
deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-401229467998"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_key_id
  secret_access_key: $aws_secret_key   
    